<html>
    <head>
        <title>PayPal Node App</title>
    </head>
    <body>
        <h1>Rolex Watch</h1>
        <h2>Buy for Rs 2000</h2>
        <form action= "/pay" method= "POST">
            <input type="submit" value="Buy">
        </form>
    </body>
</html>